body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: #ab9f89;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffeee0;
    padding: 0.5em;
    margin: 0.3em;
}

p {
    color: #ffeee0;
    padding: 0 0.5em;
    margin: 0 0.5em;
}

#header-div {
    background: url(https://siterepository.s3.amazonaws.com/page_background_div_image_1443.jpg);
    background-size: 133vw;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 100%;
    height: 0;
    padding-top: 58.8%;
    position: relative;
}

#header-photo {
    width: 100vw;
    height: 58.8%;
    background: url(../images/irrigation.png);
    background-size: 66vw;
    background-repeat: no-repeat;
    background-position-x: center;
    position: absolute;
    top: calc(100vw / 6.9);
    left: 0;
}

#body-div {
    background: url(https://siterepository.s3.amazonaws.com/page_background_image_1443.jpg);
    background-size: 133vw;
    background-repeat: repeat;
    background-position-x: center;
    height: auto;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: calc(100vw / 2.3);


}

#main-container {
    width: 66vw;
    height: auto;

    display: flex;
    flex-direction: column;
}

#description-div {
    width: 100%;
    height: auto;
}


#calculator {
    width: calc(100% - 6em);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5em 3em;
}

#clac-header {
    width: calc(100% - 4em);
    height: auto;
    text-align: center;
    margin: 0 2em 2em 2em;
}

#table-div {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

#meter-size {
    height: 1.7em;
    padding: 0;
    border: none;
    background-color: #ffeee0;
}

#water-usage {
    height: 1.7em;
    padding: 0;
    border: none;
    background-color: #ffeee0;
}

.calc-row {
    width: 100%;
    min-height: 2em;
    height: auto;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 850px) {
    /* For mobile phones: */
    #main-container {
        width: 70vw !important;
    }
    #calculator {
        margin: 1em !important;
        width: calc(100% - 2em) !important;
    }
    #clac-header {
        margin: 1em !important;
        width: calc(100% - 2em) !important;
    }

    .calc-row {
        flex-direction: column !important;
        align-items: center !important;
        margin-bottom: 1em !important;
    }

    .cell-left {
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        text-align: center;
    }
    
    .cell-right {
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        text-align: center;
    }

    .cell-box {
        width: 100% !important;
        text-align: center;
    }

  }

.cell-left {
    width: 50%;
}

.cell-right {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.cell-box {
    height: 1.5em;
    width: 40%;
    background-color: rgba(73, 73, 73, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Toggle Switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 1.5em;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
